/* src/LoginPage.module.css */
.container{
 max-width: 400px;
 margin:auto;
 margin-top: 20%;
 padding: 20px;
 background-color: #fff;
 box-shadow: 0 0 10px rgba(0,0,0,0.1);
 border-radius: 8px;
}
.form{
  width: 100%;
}
.button{
 width: 100%;
}